In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/sample_data.csv', index_col = 0)
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [4]:
#selecting a column by using []
df['food']

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [6]:
df[['color', 'food', 'score']]

           color    food  score
Jane        blue   Steak    4.6
Niko       green    Lamb    8.3
Aaron        red   Mango    9.0
Penelope   white   Apple    3.3
Dean        gray  Cheese    1.8
Christina  black   Melon    9.5
Cornelia     red   Beans    2.2

In [7]:
df['color', 'food', 'score']

KeyError: ('color', 'food', 'score')

In [10]:
#LOC Indexer
df.loc['Niko']

state        TX
color     green
food       Lamb
age           2
height       70
score       8.3
Name: Niko, dtype: object

In [11]:
df.loc[['Niko', 'Penelope']]

         state  color   food  age  height  score
Niko        TX  green   Lamb    2      70    8.3
Penelope    AL  white  Apple    4      80    3.3

In [13]:
df.loc['Niko' : 'Dean' : 2]

         state  color   food  age  height  score
Niko        TX  green   Lamb    2      70    8.3
Penelope    AL  white  Apple    4      80    3.3

In [14]:
df.loc[:]

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [16]:
df.loc[: 'Dean']

         state  color    food  age  height  score
Jane        NY   blue   Steak   30     165    4.6
Niko        TX  green    Lamb    2      70    8.3
Aaron       FL    red   Mango   12     120    9.0
Penelope    AL  white   Apple    4      80    3.3
Dean        AK   gray  Cheese   32     180    1.8

In [17]:
df.loc['Christina' : ]

          state  color   food  age  height  score
Christina    TX  black  Melon   33     172    9.5
Cornelia     TX    red  Beans   69     150    2.2

In [20]:
df.loc['color'] # cannot access just the columns, row has to be included

KeyError: "None of [Index(['color'], dtype='object')] are in the [index]"

In [19]:
df.loc[['Jane', 'Niko'], ['color', 'food']]

      color   food
Jane   blue  Steak
Niko  green   Lamb

In [21]:
df.loc['Jane', ['color', 'food']]

color     blue
food     Steak
Name: Jane, dtype: object

In [22]:
df.loc[ ['color', 'food'], 'Jane'] #reversing rows and columns will not work

KeyError: 'Jane'

In [25]:
df.loc['Niko': , 'food'] #slicing notation does not have[]

Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [27]:
df.loc[: 'Dean', 'food':'height']

            food  age  height
Jane       Steak   30     165
Niko        Lamb    2      70
Aaron      Mango   12     120
Penelope   Apple    4      80
Dean      Cheese   32     180

In [28]:
df.loc['Dean', 'age']

32

In [29]:
df.loc[:, :]

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [30]:
df.loc[['Jane','Aaron']]

      state color   food  age  height  score
Jane     NY  blue  Steak   30     165    4.6
Aaron    FL   red  Mango   12     120    9.0

In [31]:
rows = ['Jane', 'Niko']
cols = ['color', 'food']
df.loc[rows, cols]

      color   food
Jane   blue  Steak
Niko  green   Lamb

In [33]:
df.iloc[0:4]b

         state  color   food  age  height  score
Jane        NY   blue  Steak   30     165    4.6
Niko        TX  green   Lamb    2      70    8.3
Aaron       FL    red  Mango   12     120    9.0
Penelope    AL  white  Apple    4      80    3.3

In [34]:
df.iloc[:, cols]

IndexError: .iloc requires numeric indexers, got ['color' 'food']

In [38]:
cols = [2,3]
df.iloc[0:3, cols]

        food  age
Jane   Steak   30
Niko    Lamb    2
Aaron  Mango   12

In [40]:
food = df['food']
food

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [41]:
food.loc['Jane']

'Steak'

In [42]:
food[['Dean', 'Niko']]

Dean    Cheese
Niko      Lamb
Name: food, dtype: object

In [43]:
food[:'Dean']

Jane         Steak
Niko          Lamb
Aaron        Mango
Penelope     Apple
Dean        Cheese
Name: food, dtype: object

In [44]:
food[:]

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [45]:
food['Dean':]

Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [46]:
food.loc['Dean':]

Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [47]:
food.loc['Jane']

'Steak'

In [49]:
food.iloc[0:4]

Jane        Steak
Niko         Lamb
Aaron       Mango
Penelope    Apple
Name: food, dtype: object

In [50]:
food.iloc[0]

'Steak'

In [52]:
food.iloc[0:5]

Jane         Steak
Niko          Lamb
Aaron        Mango
Penelope     Apple
Dean        Cheese
Name: food, dtype: object

In [53]:
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [71]:
df2 = pd.read_csv('data/sample_data2.csv')
df2

       Names state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [59]:
df.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object')

In [72]:
df2.index

RangeIndex(start=0, stop=7, step=1)

In [61]:
range(7)

range(0, 7)

In [62]:
list(df2.index)

[0, 1, 2, 3, 4, 5, 6]

In [63]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [64]:
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [65]:
col = [1, 4]
df.iloc[[1, 3, 5], col]

           color  height
Niko       green      70
Penelope   white      80
Christina  black     172

In [66]:
df2.loc[[2, 4, 5], ['food', 'color']]

     food  color
2   Mango    red
4  Cheese   gray
5   Melon  black

In [67]:
df2.iloc[[2, 4, 5], [2, 1]]

   color state
2    red    FL
4   gray    AK
5  black    TX

In [68]:
df2.iloc[:3]

  Unnamed: 0 state  color   food  age  height  score
0       Jane    NY   blue  Steak   30     165    4.6
1       Niko    TX  green   Lamb    2      70    8.3
2      Aaron    FL    red  Mango   12     120    9.0

In [69]:
df2.loc[:3]

  Unnamed: 0 state  color   food  age  height  score
0       Jane    NY   blue  Steak   30     165    4.6
1       Niko    TX  green   Lamb    2      70    8.3
2      Aaron    FL    red  Mango   12     120    9.0
3   Penelope    AL  white  Apple    4      80    3.3

In [73]:
df2.iloc[-1]

Names     Cornelia
state           TX
color          red
food         Beans
age             69
height         150
score          2.2
Name: 6, dtype: object

In [74]:
df2.loc[-1]

KeyError: -1

In [75]:
df = pd.read_csv('data/food_inspections.csv')
df.head()

,DBA Name,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
0,DANY'S TACOS,Restaurant,Risk 1 (High),2857 S ST LOUIS AVE,60623.0,03/27/2017,License,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
1,BILLY FOOD MARKET INC,NaN,Risk 3 (Low),3906 W ROOSEVELT RD,60624.0,03/27/2017,License,Not Ready,NaN
2,TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
3,WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
4,PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...